.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: lightgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-form{

position: relative;
    text-align: center;
    margin-top: 124px;
}
.heading{
  text-align: center;
}
.form{
  background-color:lavenderblush;
    position: relative;
    text-align: center;
    margin-top: 124px;
    display: flex;
}
.address{
  position: relative;
  top:-16px;
}
.forms{
     position: relative;
    text-align: center;
    margin-top: 124px;
     border: 1px solid black;
}
.button{
  position: relative;
  background-color:mediumturquoise;
}
